@import "https://unpkg.com/leaflet@1.7.1/dist/leaflet.css";

.userDetails {
    width: 50%; 
    margin: 0 auto; 
    border: 1px solid #9a9a9a;
    margin-bottom: 20px;
}

.home {
    position: absolute;
    top: 8px;
    right: 50px;
}

/******* Map *******/
.leaflet-container {
    margin-top: 20px;
    width: 50%; 
    margin: 0 auto; 
    height: 60vh;
  }

  /*****************/

  /******** Media query **************/

  @media screen and (max-width: 1200px) {
    .userDetails, .leaflet-container {
        width: 75%; 
    }
}

@media screen and (max-width: 768px) {
    .userDetails, .leaflet-container {
        width: 92%; 
    }
}

@media screen and (max-width: 600px) {
    .userDetails, .leaflet-container {
        width: 99%; 
    }
}
  